$primary-main-lighter-color: #e3f2f2; //$inactive-main
$primary-main-light-color: #e7f5f5; //$selected-item
$primary-main-normal-color: #13acac; //$main, $em-text-color, $barchart-positive-line

$primary-light-color: #fff;
$primary-dark-color: #000;
$primary-text-color: #2c3239;
$primary-border-color: #3aa2eb;
$primary-opacity-color: rgba(58,162,235,.1);
$primary-hover-color: rgba(228, 237, 243, 0.56);


$primary-secondary-lighter-color: #eef7f7; //$completed
$primary-secondary-light-color: #cae8e8; //$em-bg
$primary-secondary-normal-color: #84d8d8; //$input-border
$primary-secondary-dark-color: #19c2c2; //$hover

$primary-extra-lighter-color: #eef8f8;
$primary-extra-light-color: #89d3d3; //$em-hover-bg
$primary-extra-normal-color: #56dada; //$checked-hover
$primary-extra-dark-color: #5ababa; //$success-bg