$primary-light-color: #fff;
$primary-dark-color: #000;
$primary-text-color: #2c3239;
$primary-border-color: #3aa2eb;
$primary-opacity-color: rgba(58,162,235,.1);
$primary-hover-color: rgba(228, 237, 243, 0.56);